<!DOCTYPE html>
<html lang ='en'>
<head>
	<meta charset='utf-8'>
	<meta name='viewport' content='width=device-width'>
	<title>Dream Journal App</title>
	<meta name='description' content='dream tracking and reporting app'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/css?family=Gothic+A1:100" rel="stylesheet">
	<link rel="stylesheet" href="/main.css">
</head>
<body>
	<section role='main' id='main'>
		<section id='homepage'>
		<h1>DREAM JOURNAL</h1>
		<button type="button" class='createAccountButton'>Create Account</button>
		<button type="button" class='loginAccountButton'>Log in</button>
		<section class='signUpFormSection'>
			<form class="signUpForm" hidden>
      			<fieldset class="signUpFieldset">
        		<legend>
        		<input type='text' name='usernameInput' placeholder='username' aria-label="sign-up-form-username-input" required></legend>
        		<legend>
        		<input type='password' name='passwordInput' placeholder='password' aria-label="sign-up-form-password-input" required></legend>
        		<legend>
        		<input type='text' name='firstNameInput' placeholder='first name' aria-label="sign-up-form-first-name-input" required></legend>
        		<legend>
        		<input type='text' name='lastNameInput' placeholder='last name' aria-label="sign-up-form-last-name-input" required></legend>
      			</fieldset>
      			<button role="button" type="submit" class="submitButton">Submit</button>
    		</form>
		</section>
		<section class='loginFormSection'>
			<form class="loginForm" hidden>
      			<fieldset class="loginFieldset">
        		<legend>
        		<input type='text' name='usernameInput' placeholder='username' aria-label="login-form-username-input" required></legend>
        		<legend>
        		<input type='password' name='passwordInput' placeholder='password' aria-label="login-form-password-input" required></legend>
      			</fieldset>
      			<button role="button" type="submit" class="submitButton">Submit</button>
    		</form>
		</section>
		</section>
	</section>
<script src="/clientside.js"></script>
<script src="/MOCKDATA.js"></script>
</body>
</html>