/*
old main background color: #16283f;
new main background color: #FAF8F3;
light blue background: #c5d5e2;
nav icon blue: #172668;
text-color: #243647;
*/

* {
  box-sizing: border-box;
  background-color: #FAF8F3;
  font-family: 'Gothic A1', sans-serif;
}

#main {
	color: #243647;
	padding: 20px;
}

#homepage h1 {
	text-align: center;
}

#landingPage {
	background-image: url(https://i.imgur.com/ifFRhF1.png?1);
	background-repeat: repeat;
    background-size: contain;
    height: 100vh;
}

#landingPage h1,  #landingPage h2{
	margin: 5px;
	margin-bottom: 15px;
	background-color: transparent;
}

#landingPage h1 {
	padding-top: 45%;
	font-size: 40px;
}

#landingPage h2{
	font-size: 18px;
}

#landingPage .getStartedLoginButton {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: transparent;
	border: none;
	padding: 5px;
}

.intro {
	height: 90vh;
	background-color: transparent;
	position: relative;
}

.demoAccountLoginButton {
	background-color: transparent;
	color: #243647;
	font-size: 14px;
	border: none;
	position: absolute;
	bottom: 15px;
	display: block;
	width: 100%;
}

#landingPage .getStartedButton {
	position: absolute;
	bottom: 45px;
	border: 3px solid #c5d5e2;
	border-radius: 15px;
	font-size: 18px;
	display: block;
	width: 100%;
	padding: 15px;
	background-color: transparent;
}

.landingPageDescription {
	background-color: white;
	margin: 0 -20px;
	padding: 20px;
}

.landingPageDescription img {
	width: 18px;
	background-color: white;
	display: inline-block;
}

#landingPage .landingPageDescription h2 {
	font-size: 25px;
	display: inline-block;
	margin-bottom: 0;
}

.landingPageDescription p {
	background-color: white;
}

.homepageHeader{
	background-image: url(https://i.imgur.com/sbs8LVQ.png?1);
	background-size: 80px;
	margin: 0 -20px;
	background-position: left;
	background-repeat: repeat
}

#homepage h1 {
	color: #243647;
	background-color: transparent;
}

#homepage a:link {
	text-decoration: none;
}

#homepage a:visited {
	text-decoration: none;
}

.createAccountButton, .loginAccountButton {
	position: relative;
	display: inline-block;
	padding-top: 10px;
	padding-bottom: 10px;
	width: 50%;
	margin-top: 10px;
	float: left;
	border: none;
	color: #243647;
}

.selected {
	background-color: white;
	color: #243647;
	border-bottom: 1px solid #c5d5e2;
}

#pageContents {
	text-align: center;
}

.loginForm, .signUpForm {
	position: relative;
	float: left;
	text-align: center;
	border-radius: 2px;
	background-color: #c5d5e2;
	width: 100%;
	margin-top: 10px;
	padding: 20px;
	font-weight: 100;
}

.signupLink, .loginLink {
	font-size: 13px;
	margin-top: 10px;
	border: none;
	background-color: #c5d5e2;
	color: #243647;
}

.warningBoxIncorrectLogin {
	margin-top: 10px;
	padding: 20px;
	background-color: #c5d5e2;
	color: red;
	border: 1px solid red;
	border-radius: 2px;
}

#homepage .submitButton, {
	margin: 10px;
	font-size: 14px;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}

.loginForm fieldset, .signUpForm fieldset, .loginForm input, .signUpForm input, .loginForm legend, .signUpForm legend{
	background-color: #c5d5e2;
	border: none;
	color: #243647;
	width: 100%;
}

.loginForm input::placeholder, .signUpForm input::placeholder{
	color: grey;
}

.loginForm fieldset, .signUpForm fieldset {
	width: 75%;
	margin-left: auto;
	margin-right: auto;
}

.loginForm input, .signUpForm input {
	padding: 10px;
	padding-left: 2px;
	margin: 3px;
	border-bottom: 1px solid white;
	width: 100%;
}

.loginForm .submitButton, .signUpForm .submitButton, .dreamEntryForm .submitButton, .editFormSubmitButton {
	background-color: #c5d5e2;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #D4E4F2;
	color: #243647;
}

.signUpForm .locationSelection {
	border-bottom: 2px solid red;
}

.editFormSubmitButton {
	margin: 5px;
}

.dreamEntryForm .submitButton {
	margin-top: 10px;
}

.navigationBar {
	width: 100%;
	background-color: #c5d5e2;
	padding: 10px;
	box-shadow: 0 3px 5px -3px #000;
}

.navigationBar img {
	height: 15px;
	background-color: #c5d5e2;
}

.navigationBar button {
	width: 24%;
	margin: 0;
	border-width: 0;
	margin-left: auto;
	margin-right: auto;
	background-color: #c5d5e2;
	color: #243647;
}

#accountProfileWindow {
	width: 100%;
	left: 0;
	z-index: 3;
	position: relative;
	height: 60%;
	padding: 20px;
	box-shadow: 0px 3px 10px silver;
	background-color: white;
}

#accountProfileWindow h1{
	margin-top: 0px;
	font-size: 17px;
	font-weight: bolder;
}

#accountProfileWindow *{
	font-size: 15px;
	background-color: white;
}

#accountProfileWindow button {
	border: none;
}

.closeProfileWindow {
	padding: 5px;
	position: absolute;
	right: 20px;
	top: 15px;
}

.logOutOfAccount {
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 2px;
 	box-shadow:0 0 4px 1px #16283f inset;
}

.newEntryFieldset {
	margin: 0;
	border: none;
}

.dreamEntryLegend {
	width: 100%;
	margin: 3px;
}

.dreamEntryForm input{
	border: none;
	padding: 5px;
	margin: 3px;
	margin-top: 7px;
	background-color:  #12243a;
}

.dreamEntryForm input::placeholder{
	color: #243647;
	font-weight: lighter;
}

textarea[name='dreamContentInput'] {
	padding: 15px;
	width: 100%;
	height: 300px;
	border: none;
	border-radius: 5px;
	color: #243647;
	font-weight: lighter;
	background-color:  white;
}

textarea[name='dreamContentInput']::placeholder {
	color: #243647;
}

.moreInfoButton1, .moreInfoButton2 {
	border: none;
}

.moreInfoForm1{
	margin-top: 5px;
}

.moreInfoForm2{
	margin-top: 20px;
}

.moreInfoButton1 img, .moreInfoButton2 img{
	margin-top: 10px;
	height: 45px;
}

.newEntryFieldset input, .newEntryFieldset select{
	width: 100%;
	padding: 5px;
	color: #243647;
	border: none;
	background-color:  white;
	border-radius: 2px;
}

.newEntryFieldset select{
	margin-top: 10px;
}

.newEntryFieldset select option{
	background-color: white;
}

.dreamEntry {
	padding: 10px;
	background-color: white;
	margin: 10px;
}

.dreamEntry *{
	background-color: white;
}

.dreamEntry select{
	background-color: white;
	margin: 10px;	
}

.symbolBox p {
	width: 50%;
	display: inline-block;
}

input[name='dreamTypeInput']{
	width: 20px;
	background-color: white;
	display: inline-block;
}

.moreInfoCSS {
	color: #243647;
	padding: 10px;
}
/*
.moreInfoCSS *{
	background-color:  #12243a;
}*/
.dreamlogEditHeader{
	z-index: 3;
	position: absolute;
	top:0px;
	left: 0px;
	width: 100%;
	display: inline-block;
}

.dreamlogEditHeader h3 {
	width: 63%;
	float: left;
	margin: 10px;
}

.dreamlogEditHeader button {
	width: 23%;
	float: right;
	padding: 5px;
	margin: 5px;
}

#editEntryWindow, #deleteEntryWarning, #errorWarningWindow, #refreshCredWarningWindow {
	z-index: 10;
	overflow-y: scroll;
	overflow-x: hidden;
	position: fixed;
	top: 20px;
	left: 25px;
	width: 85%;
	max-width: 500px;
	height: 90%;
	padding: 20px;
	background-color: white;
	border-radius: 2px;
	box-shadow: 3px 3px 10px black;
}

#refreshCredWarningWindow h2, #errorWarningWindow h2{
	background-color: white;
	font-size: 30px;
}

#errorWarningWindow button, #refreshCredWarningWindow button, .backtoHomepageButton{
	position: absolute;
	bottom: 45px;
	border: 3px solid #c5d5e2;
	border-radius: 15px;
	font-size: 18px;
	display: block;
	width: 85%;
	padding: 15px;
	background-color: transparent;
}

#deleteEntryWarning {
	top: 80px;
	height: 200px;
	padding: 40px;
}

.deleteText {
	display: block;
	background-color: white;
	font-size: 20px;
}

#deleteEntryWarning button{
	margin: 10px;
	padding: 10px;
	background-color: #c5d5e2;
	border-radius: 4px;
	border: 1px solid #D4E4F2;
	color: #243647;
}

.editEntryForm * {
	background-color: white;
}

.editEntryForm{
	display: inline-block;
	text-align: center;
	position: relative;
	border: none;
	background-color: white;
	height: 100%;
	max-width: 210px;
}

.editEntryForm * {
	position: relative;
	max-width: 210px;
}

.editEntryFieldset{
	margin-top: 40px;
	padding: 0;
	border: none;
	background-color: white;
}

.editEntryForm h4 {
	margin: 0px;
}

.editEntryForm textarea[name='dreamContentInput'] {
	color: #243647;
	height: 90px;
	width: 200px;
	border: 1px solid #243647;
}

.editEntryForm textarea::placeholder {
	color: #243647;
}

.editEntryForm input, .editEntryForm select{
	color: #243647;
	width: 200px;
	margin: 2px;
	border: 1px solid #243647;
}

.editEntryForm input[type='radio'] {
	width: 50%;
}
#dreamReport {
	text-align: left;
}

.dreamSummary h1 {
	font-size: 20px;
	margin-top: 0px;
}

.extraSymbolInfo {
	border: none;
	color: white;
	background-color:  #12243a;
}

.symbolBox {
	padding: 3px;
	margin: 5px;
	width: 29%;
	display: inline-block;
	background-color: white;
	clear:both;
}

.dreamSymbols {
	margin-top: 10px;
	margin-bottom: 10px;
	clear:both;
}

#calendar .fc-toolbar.fc-header-toolbar{
	margin-bottom: 2px;
}
.fc-toolbar *{
	font-size: 18px;
}

.fc-today-button {
	display: none;
}

.fc-content {
	color: black;
	border: none;
}

.fc-title {
	background-color: #FAF8F3;
}

#calendar .fc-event {
	border: #FAF8F3;
	background-color: #FAF8F3;
}

.fc .fc-button-group > *, .fc-icon {
	height: 18px;
	background-color:  #FAF8F3;
	font-size: 10px;
	color: #12243a;
	margin-bottom: 5px;
}

#calendar .fc-button, .fc-state-default{
	background-color:  #FAF8F3;
	border: 1px solid #12243a;
	background-image: none;
}

#calendar td.fc-today {
	background: none;
}

#calendar .fc-day{
	border: none;
}

.seeMoreLogEntry{
	border: none;
	margin-left: auto;
	margin-right: auto;
}

.dreamEntry button {
	border: none;
}

.dreamEntryContent {
	padding-top: 70px;
	padding-bottom: 10px;
	margin-top: 0px;
}

.dreamEntry .seeMoreImage {
	height: 30px;
}

.searchDreamForm {
	text-align: left;
	position: relative;
}

.searchDreamForm input, .searchDreamForm legend{
	width: 100%;
	border: none;
}

.searchDreamForm input {
	font-size: 14px;
	padding: 10px;
	color:  #172668;
}

.searchDreamForm input::placeholder {
	color: #172668;
	font-weight: lighter;
	font-size: 13px;
}

.searchDreamForm legend {
	display:inline-block;
	width: 80%;
	margin: 3px;
	float: left;
	border-radius: 2px;
	border: 1px solid #c5d5e2;
}

.dreamSearchButton {
	border: none;
	width: 30px;
	height: 30px;
	color: #D4E4F2;
	position: absolute;
	top: 8px;
	right: 11px;
	clear: both;
}

.dreamSearchButton img{
	height: 25px;

}
.searchBar {
	position: relative;
	margin: 10px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.dreamEntry {
	position: relative;
	text-align: left;
	padding-top:0;
	margin-bottom: 20px;
	top: 60px;
}

.viewAllDreamEntries {
	border: none;
	padding-left: 20px;
	text-decoration: underline;
	color: #12243a;
	font-size: 12px;
}

.searchTextBoxLog{
	padding-top: 20px;
	padding-left: 20px;
	color: #12243a;
}

.dreamEntry .dateHeader {
	width: 100%;
	position: absolute;
	padding: 15px;
	left:0;
	margin: 0;
	background-color: #c5d5e2;
	color: #12243a;
}

.dreamlogEntryButtons {
	position: absolute;
	z-index: 3;
	right: 5px;
	top: 15px;
	background-color: #c5d5e2;
	color: #12243a;
}

.dreamlogEntryButtons button {
	background-color: #c5d5e2;
	color: #12243a;
}

.keywordsSection, .moodSection{
	overflow: hidden;
}

.keywordsSection h4, .moodSection h4, .nightmareSection h4, .nightmareSection p{
	width: 40%;
	margin: 10px;
	float: left;
	display: inline-block;
}

.lifeEventsSection h4 {
	margin: 10px;
}

.tagButtons {
	padding: 10px;
	padding-top: 7px;
	padding-bottom: 7px;
	margin: 5px;
}

.tags {
	width: 50%;
	float: right;
}

.orange, .blue, .green, .red, .purple {
	border: none;
	color: black;
	border-radius: 2px;
}

.orange {
	background-color: #FFC67A;
}

.blue {
	background-color: #96AFC5;
}

.green {
	background-color: #8CABAB;
}

.red {
	background-color: #E48B9A;
}

.purple{
	background-color: #A094B3;
}
